= form_for @message, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")}"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :phone, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_field :phone, class: 'form-control'
  .form-group
    = f.label :content, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_area :content, class: 'form-control'
  .form-group
    .col-sm-2
    .col-sm-5  
      = f.submit 'Guardar', class: 'btn btn-default'
