%li= link_to "About", abouts_path
%li= link_to "Team", teams_path
%li= link_to "Customers", customers_path
%li= link_to "Services", services_path
%li= link_to "Contacts", contacts_path
%li= link_to "Messages", messages_path
%li= link_to "Portafolio", portafolios_path
%li= link_to "Posts", posts_path
%li= link_to "Faqs", faqs_path
%li= link_to "PageOption", page_options_path

